.selected_btn_style {
    background-color: #b9c00c !important;
    color: white !important;
    margin: '5px';
};
.btn_style {
    background-color: white !important;
    color: #b9c00c !important;
    margin: '5px';
};